* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s;
}

.flex {
  display: flex;
}

body {
  min-height: 100vh;
  font-family: monospace;
  font-size: 16px;
  font-weight: 500;
  color: #333;
  padding: 20px;
  flex-direction: column;
}
body,
.container,
.options {
  justify-content: center;
  align-items: center;
}

.container {
  gap: 20px;
}

.grid-container {
  user-select: none;
  width: 500px;
  height: 500px;
  flex-wrap: wrap;
  border: 1px solid #333;
  flex-direction: column;
}

.row {
  flex-grow: 1;
  display: flex;
}

.box {
  flex: 1;
  border: 0.5px solid #333;
  cursor: cell;
}

.options {
  flex-direction: column;
  flex-wrap: wrap;
  gap: 24px;
}

button,
input[type="color"] {
  border: none;
  outline: none;
  text-align: center;
  font: inherit;
  border-radius: 5px;
  cursor: pointer;
}

input[type="color"] {
  min-height: 50px;
}

button {
  min-width: 180px;
  padding: 15px 20px;
  background: transparent;
  border: 1px solid #b8b8b8;
  &:hover {
    background-color: #b8b8b8;
  }
  &:focus {
    background-color: #333;
    color: white;
  }
}
button#active {
  background-color: #333;
  color: #fff;
}

@media (max-width: 700px) {
  .container {
    flex-direction: column-reverse;
  }
  .grid-container {
    width: 300px;
    height: 300px;
  }
}
